<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>FicType</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-6 h1">FicType</span>
        <form class="form-inline" style="float:left;">
            <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search Story"
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" id="searchBtn">Search</button>
            <div>&nbsp;&nbsp;</div>
            <button class="btn btn-outline-primary my-2 my-sm-0" id="sortBtn">Sort by Title</button>
            <div>&nbsp;&nbsp;</div>
            <button class="btn btn-outline-primary my-2 my-sm-0" id="home">Home</button>
        </form>
    </nav>
    <br><br><br>
    <center>
        <div id="container" class="container">
            <div class="row">
                <div class="card mt-3" style="width:500px; height:auto; background-color: #ab73ff;">
                    <img class="card-img-top"
                        src="https://www.chronicle.com//img/photos/biz/photo_87587_landscape_850x566.jpg"
                        alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4>Create Your Own Story</h4>
                        <p class="card-text"></p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                            data-target="#myModal">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <tbody>
            </tbody>
        </table>

        <div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Story</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input class="form-control" type="text" id='title' placeholder="Story Title" required><br>
                            <input class="form-control" type="text" id="description" placeholder="Description"
                                required><br>
                            <div></div>
                            <textarea rows="15" class="form-control" type="text" id="content"
                                placeholder="Story Content" required></textarea><br>
                        </form>
                    </div>
                    <div class="modal-footer" id="buttons">
                        <button id="add" type="button" class="btn btn-info btn-lg">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </center>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            retrieveAll()
            $('#add').click(function (e) {
                if ($('#title').val() === "" || $('#description').val() === "" || $('#content')
                    .val() === "") {
                    swal({
                        icon: "error",
                        title: "Fields not completed!"
                    });
                } else {
                    e.preventDefault();
                    var final = $('#title').val().substr(0, 1).toUpperCase() + $('#title').val().substr(
                        1)
                    var items = {
                        title: final,
                        description: $('#description').val(),
                        content: $('#content').val(),
                    }
                    console.log(items)
                    $.ajax({
                        url: 'http://localhost:8081/item/create',
                        type: 'POST',
                        dataType: 'JSON',
                        data: items,
                        error: (e) => {
                            console.log(e)
                        },
                        success: function (res) {
                            $("#myModal").modal("hide");
                            $("#title").val("");
                            $("#description").val("");
                            $("#content").val("");
                            addRows(res)
                            swal({
                                icon: "success",
                                text: "Story created!"
                            });
                        }
                    })
                }
            })

            $('#sortBtn').click(function (e) {
                e.preventDefault();
                $('.main').sort(function (a, b) {
                    return $(a).find(".card-title").text() > $(b).find(".card-title").text()
                        .toLowerCase ? 1 : -1;
                }).appendTo(".row");
            })

            $('#search').on("keyup", function (e) {
                e.preventDefault();
                var value = $(this).val().toLowerCase();
                $(".cards").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
                console.log($(this).val().toLowerCase())
            })

            let Id = ""
            $(document).on('click', ".edit", function (e) {
                e.preventDefault();
                var id = $(this).attr('id');
                var ID = String(id).split("_")
                Id = ID[1]
            })

            $(document).on('click', ".save", function (e) {
                if ($("#contentData").html() !== $(`#${Id}_edited`).val()) {
                    e.preventDefault();
                    swal({
                        icon: "success",
                        text: "Story updated!"
                    });
                    $(".updateModal").modal("hide");
                    edit(Id)
                } else {
                    swal({
                        icon: "info",
                        text: "You haven't changed anything!"
                    });
                }
                if ($(`#${Id}_edited`).val() === "") {
                    swal({
                        icon: "error",
                        text: "This can't be empty!"
                    });
                }
            })

            $(document).on('click', ".action-btn", () => {
                var temp = $(this)[0].activeElement.id;
                var id = temp.split("_")
                if (id[0] == "delete") {
                    swal({
                            title: "Are you sure?",
                            text: "Once deleted, you will not be able to recover this file!",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                        .then((willDelete) => {
                            if (willDelete) {
                                deleteItem(id[1])
                                console.log("update")
                                $("#" + temp).parent().parent().parent().fadeOut()
                            }
                        });
                }
            })

            function addRows(items) {
                var buttons = $("<div>").append(
                    $('<button id="update_' + items._id +
                        '" class="edit btn btn-info update-btn btn-sm action-btn" data-toggle="modal" data-target="#' +
                        items.title + 'Edit">', {}).text("Edit").css({
                        marginLeft: "10px"
                    }),
                    $("<button>", {
                        id: "delete_" + items._id,
                        class: "btn btn-info btn-sm delete-btn action-btn"
                    }).text("delete").css({
                        marginLeft: "10px"
                    })
                )
                $('<div class="cards" id="' + items.title +

                    'Search" class="card mt-3 main" style="width:280px; height:auto;">', {
                        id: items._id
                    }).append(
                    $(
                        '<img style="width:100%" src="https://www.chronicle.com//img/photos/biz/photo_87587_landscape_850x566.jpg "/>'
                    )
                    .addClass('card-img-top'),
                    $('<h4 id="' + items.title + 'Search">').text(items.title).addClass("card-title"),
                    $('<p>').text(items.description).addClass("card-text"),
                    $('<button type="button" id="read" class="btn btn-secondary" data-toggle="modal" data-target="#' +
                        items.title + '">').text("Read"),
                    $('<div>').append($("<br>"), buttons, $("<br>")),
                ).appendTo('.row')
                current = items.content
                $("body").append('<div class="modal fade" id ="' + items
                    .title +
                    '" role ="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h4 class="modal-title">' +
                    items.title +
                    '</h4><button type="button" class="close" data-dismiss="modal">&times;</button></div><div class="modal-body"><p id="contentData">' +
                    current +
                    '</p></div><div class="modal-footer"><button type="button" class="edit btn btn-info update-btn btn-sm action-btn" data-dismiss="modal">Done</button></div></div></div></div>'
                );
                $("body").append(
                    '<div data-backdrop="static" data-keyboard="false" class="modal fade updateModal" id ="' +
                    items.title +
                    'Edit" role ="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h4 class="modal-title">' +
                    items.title +
                    '</h4><button type="button" class="close" data-dismiss="modal">&times;</button></div><div class="modal-body"><textarea class="form-control" rows="15" id="' +
                    items._id + '_edited">' + current +
                    '</textarea></div><div class="modal-footer"><button class="save btn btn-info update-btn btn-sm action-btn" id="save_' +
                    items._id +
                    '" type="button" class="btn btn-default">Save</button></div></div></div></div>');
            }

            function edit(id) {
                let content = $(`#${Id}_edited`).val()
                $("#contentData").html($(`#${Id}_edited`).val())
                $.ajax({
                    url: `/item/update/${id}/${content}`,
                    type: 'POST',
                    dataType: 'JSON',
                    data: id,
                    error: (e) => {
                        console.log(e)
                    },
                    success: function (res) {
                        console.log(res)
                    }
                })
            }

            function retrieveAll() {
                $.ajax({
                    url: "/item/retrieve/all",
                    type: "get",
                    error: function (e) {
                        console.error(e)
                    },
                    success: function (response) {
                        response.results.forEach(item => {
                            addRows(item)
                        });
                    }
                })
            }

            function updateItem(id) {
                $.ajax({
                    url: "/item/update/" + id,
                    type: "post",
                    error: (e) => {
                        console.error(e)
                    },
                    success: (res) => {
                        console.log(res)
                    }

                })
            }

            function deleteItem(id) {
                $.ajax({
                    url: "/item/delete/" + id,
                    type: "get",
                    error: (e) => {
                        console.error(e)
                    },
                    success: (res) => {
                        console.log(res)
                    }
                })
            }
        })
    </script>
</body>

</html>